.box-login {
    width: 90%;
    max-width: 320px;
    padding: 40px;
}

.box-login h1 {
    color: white;
    text-align: center;
    width: 110px;
    height: 100px;
    margin: 0 auto 40px auto;
    font-size: 80px;
    font-weight: 900;
    line-height: 90px;
}

.box-login .form-control {
    background: var(--light);
    border: none;
    border-bottom: 1px solid #bbb;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}

.box-login .forgot-login {
    display: block;
    text-align: center;
    font-size: 12px;
    cursor:pointer;
    color:blue;
}

.box-login .forgot-login:hover {
    text-decoration: underline;
}